@namespace BlazrCountdownApp.Components

<li class="miniDraggable" draggable="true" title="@TileModel?.Caption"
    @ontouchstart="@(() => HandleTileTouch(TileModel!))"
    @ondragstart="@(() => HandleDragStart(TileModel!))">
    <p class="miniCaption">@TileModel?.Caption</p>
</li>

@code {
    [CascadingParameter] MiniControlPanelContainer? Container { get; init; }
    [Parameter] public TileModel? TileModel { get; init; }

    private void HandleDragStart(TileModel selectedTile)
    {
        Container!.Payload = selectedTile;
    }

    private void HandleTileTouch(TileModel selectedTile)
    {
        Container!.Payload = selectedTile;
    }

}
