@page "/credits"

<PageTitle>Credits</PageTitle>

<h2>Credits</h2>

<main>
    <h5>This app was made possible with the help of the following Web resources</h5>
    <br />

    <ol type="1">
        <li>
            <p>
                <cite><a href="https://www.codeproject.com/Articles/740035/Countdown-Number-Puzzle-Solver">CodeProject Countdown Solver in C#</a></cite> by David Hancock.
                Also the related <cite><a href="https://github.com/DHancock/Countdown/"> GitHub</a></cite> repo by the author. See the discussion section.
            </p>
        </li>
         <li>
            <p>
                <cite><a href="https://chrissainty.com/investigating-drag-and-drop-with-blazor/">A blog post on Blazor Drag n Drop</a></cite> by Blazor developer Chris Sainty.
                Chris also created <cite><a href="https://github.com/Blazored/Toast">Blazored.Toast</a></cite>; the only Nuget package used by this app (to display JavaScript-free toast messages).
            </p>
        </li>
        <li>
            <p>
                <cite><a href="https://chrissainty.com/building-a-simple-tooltip-component-for-blazor-in-under-10-lines-of-code/">A blog post on Blazor Tooltips</a></cite> also by Chris Sainty.
            </p>
        </li>
        <li>
            <p>
                <cite><a href="https://www.youtube.com/watch?v=0DfwvIgtZQw&t=2s">DavidSeesChart Blazor YouTube Channel</a></cite> How to create a Blazor Heatchart.
            </p>
        </li>
        <li>
            <p>
                <cite><a href="https://www.andrewnoske.com/wiki/Code_-_heatmaps_and_color_gradients">A blog post on heatchart map colours</a></cite> by Andrew Noske.
            </p>
        </li>
        <li>
            <p>
                <cite><a href="https://www.codeproject.com/Articles/5286721/A-Simple-Blazor-Modal-Dialog-Implementation">CodeProject Modal-Dialog in Blazor</a></cite> by Shaun C Curtis.
                Also the related <cite><a href="https://github.com/ShaunCurtis/Blazr.ModalDialog"> GitHub</a></cite> repo by the author. The original source contains both a Bootstrap
                and Blazor modal-dialog implementation. This app uses the pure Blazor implementation, and added extra code for the Escape key to close the modal window automatically.
            </p>
        </li>
    </ol>

</main>

        