@namespace BlazrCountdownApp.Components

<li class="maxiDraggable" draggable="true" title="@TileModel?.Caption" @ondragstart="@(() => HandleDragStart(TileModel!))">
    <p class="maxiCaption">@TileModel?.Caption</p>
</li>

@code {
    [CascadingParameter] MaxiControlPanelContainer? Container { get; init; }
    [Parameter] public TileModel? TileModel { get; init; }

    private void HandleDragStart(TileModel selectedTile)
    {
        Container!.Payload = selectedTile;
    }

}
